<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Hi, I am Derek and I love ruby on rails. Check me out. ;)</h1>
                <hr>
                <p><%=  link_to "My Projects", projects_path, class: "btn btn-default" %> | <%= link_to "Check My Resume", resumes_path, class: "btn btn-default" %></p>
            </div>
        </div>
    </header>

